*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
    
}

.container{
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 80%;
    font-size: 1.1rem;
}

.mainTitle{
    text-align: center;
}

.income{
display: flex;
justify-content: space-between;

}

#incomeInput{
    width: 100%;
    height: 2rem;
}

#addBtn{
    width: 4rem;
    background-color: aquamarine;
}

.expenseHeader{
    text-align: center;
    font-weight: 600;

}

.expense{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.main1, .main2{
    width: 50%;
    padding-bottom: 1rem;
}

.expense-date{
    display: flex;
    justify-content: space-between;
    
}

#expenseDetail{
    width: 90%;
    height: 2rem;

}
.DateTable{
    width: 48%;
}

#date{
    width: 90%;
    height: 2rem;
}

.paid{
    display: flex;
    flex-direction: column;
}


#expenseInput{
    height: 2rem;
    margin-bottom: 1rem;
}

#saveBtn{
    width: 5rem;
    height: 2rem;
    margin: auto;
    background-color: aquamarine;
    margin-bottom: 1rem;
}


.table{
    border-collapse: collapse;
    
    
}

table, th {
    border: 1px solid;
    
}

#Date{
    width: 9rem;
}

#expenseDetail{
    width: 20rem;
}

#paidAmount{
    width: 15rem;
}

.result{
    border-collapse: collapse;
    border: 1px solid black;
}


.result-div{
    margin-top: 4rem;
    display: flex;
    justify-content: end;
}